<div class="container">
  <div class="row">
    <div class="col-md-3">
      <nav class="navbar navbar-default sidebar" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/dashboard">Dashboard<span class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>

              <li ng-show="isAdmin()">
                <a  href="/dashboard/users">Usuarios<span class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
              </li>

              <li>
                <a  href="/dashboard/banners">Banners<span class="pull-right hidden-xs showopacity glyphicon glyphicon-picture"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="col-md-9">
      <div class="panel panel-default">

              <div class="panel-heading">
                <div class="panel-title">Adicionar usuário usuário</div>
              </div>
              <div class="panel-wrapper">
                <div class="panel-body">
                  <div>
                    <form data-ng-submit="useradd.addUser()" accept-charset="utf-8">
                      <div class="row form-group">
                        <div class="col-sm-6">
                        <label for="name">Nome</label>
                          <input class="form-control" data-ng-model="name" type="text" name="name" placeholder="Seu nome">
                        </div>
                        <div class="col-sm-6">
                        <label for="e-mail">E-mail</label>
                          <input class="form-control" data-ng-model="login" type="text" name="login" placeholder="e-mail">
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-sm-6">
                          <label for="password">Nova senha</label>

                          <input type="password" id="password" class="form-control" data-ng-model="usuarioPassword" name="password">
                        </div>
                        <div class="col-sm-6">
                          <label for="role">Nível</label> <br>

                          <select class="form-control"
                              ng-model="roleOption"
                              ng-options="value.name as value.label for value in roleOptions">
                                  <option></option>
                          </select>

                        </div>
                      </div>
                      <div class="form-group">
                        <input class="btn btn-success" type="submit" value="Salvar">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
    </div>

  </div>
</div>
</script>
