<div class="container">
  <div class="row">
    <div class="col-md-3">
      <nav class="navbar navbar-default sidebar" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/dashboard">Dashboard<span class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>

              <li ng-show="isAdmin()">
                <a  href="/dashboard/users">Usuarios<span class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
              </li>

              <li>
                <a  href="/dashboard/banners">Banners<span class="pull-right hidden-xs showopacity glyphicon glyphicon-picture"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="col-md-9">
      <div class="panel panel-default">

        <div class="panel-heading">
          <div class="panel-title">Usuários cadastrados <a href="/dashboard/users/new" class="btn btn-primary pull-right">Adicionar usuário</a></div>
        </div>
        <div class="panel-wrapper">
          <div class="panel-body">
            <div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Tipo</th>
                    <th></th>
                  </tr>
                </thead>
                <tr ng-repeat="usuario in users.usuarios">
                    <td>{{ usuario.id }}</td>
                    <td><a href="/dashboard/user/{{ usuario.id }}" title="Editar {{ usuario.name }}">{{ usuario.name }}</a></td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.role }}</td>
                    <td>
                    <button class="btn btn-danger btn-xs" ng-confirm-click="Você tem certeza que deseja deletar o usuário {{ usuario.name }}?" confirmed-click="deleteUser({{ usuario.id }})" title="Remover {{ usuario.name }}">
                    <i class="fa fa-times"></i>
                    </button>
                    </td>
                 </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
