<div class="container">
  <div class="row">
    <form class="form col-sm-6 col-sm-offset-3" data-ng-submit="login.login()">
      <h2 class="section-title text-center">
        Login
      </h2>
      <div class="form-group">
        <input class="form-control input-lg" data-ng-model="email" type="email" name="email" title="email" placeholder="Seu email" required >
      </div>
      <div class="form-group">
        <input class="form-control input-lg" data-ng-model="password" type="password" title="password" placeholder="Sua Senha" name="password" required >
      </div>
      <hr class="colorgraph">
      <div class="row">
        <div class="col-sm-6"><input class="btn btn-success btn-lg btn-block" type="submit" value="Entrar"></div>
      </div>
    </form>
    <div class="col-sm-6 col-sm-offset-3 aRight">
      <br>
      <a href="/login/reset-password" title="" class="small">Recuperar senha</a>
    </div>
  </div>
</div>
