<div class="container">
  <div class="row">
    <form class="form col-sm-6 col-sm-offset-3" data-ng-submit="reset()">
      <h1>Recuperar senha</h1>
      <div class="form-group">
        <input class="form-control input-lg" data-ng-model="email" type="email" name="email" title="email" placeholder="email" required >
      </div>
      <hr class="colorgraph">
      <div class="row">
        <div class="col-sm-6"><input class="btn btn-success btn-lg btn-block" type="submit" value="Entrar"></div>
      </div>
    </form>
    <div class="col-sm-6 col-sm-offset-3 aRight">
      <br>
      <a href="/login" title="" class="small">Acessar o sistema</a>
    </div>
  </div>
</div>
